Respond to Sponsership/Respond to Sponsership.json
{
  "name": "Respond to Sponsership",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -224
      ],
      "id": "6a29a3da-ffea-4d47-b02a-0ac031598173",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xLkj82mA6AwSOO7g",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d53cdc54-dfa4-40f7-83fc-5c9ce4ac9333",
              "name": "sender_name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "0908f0a9-a54d-41fc-bb38-cb85c13f8779",
              "name": "sender_email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "51222023-50cc-4010-b9e0-2eee1fc03a41",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "8dd6444f-da5d-48eb-bb51-f626a1411417",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -224
      ],
      "id": "e57e3a4d-8787-4d76-9915-7fa5f96a939e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email for sponsorship-related content:\n\nsender_name : {{ $json.sender_name }} \nsender_email : {{ $json.sender_email }}\nsubjet : {{ $json.subject }}\nbody : {{ $json.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing emails to determine if they are related to sponsorship deals.\n\nYour task is to carefully evaluate the email content and respond with a JSON object containing:\n\n- \"isSponsorship\": either \"true\" or \"false\"\n- \"reasoning\": a clear explanation of your determination\n\nThink step by step and analyze the email thoroughly before making your decision."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -416,
        -224
      ],
      "id": "d9eb49b1-7a91-4b80-af61-ed2c3167056f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        -16
      ],
      "id": "b714a3c2-c9c5-49c5-93cb-15d8d5140bbe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h186umHZYZgjg54D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"isSponsorship\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -272,
        16
      ],
      "id": "70b59d7f-5f8c-428a-8d5d-122522bfb176",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfc652b1-a687-47eb-bf4c-3c041ce5205a",
              "leftValue": "={{ $json.output.isSponsorship }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -224
      ],
      "id": "03bcc32d-ea6e-46e7-aa87-77a03342c192",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        -128
      ],
      "id": "5b8a6ef2-6ac1-4281-8b43-3dc804baaa9e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI assistant working for the YouTube channel \"TubeNotes\". Your role is to respond professionally to sponsorship inquiries.\n\nYour task is to draft friendly and professional reply emails based on sponsorship requests. You must carefully analyze the email context provided and create an appropriate response.\n\nChannel Details:\n- Channel Name: TubeNotes (By Ayoub Youhad)\n- Subscribers: 15,000+\n- Average Views per Video: 3,000 – 10,000\n- Content Focus: Artificial Intelligence\n\nSponsorship Pricing:\n- Standalone Video: €800 – €1,300\n- Integrated Sponsorship Mention (60 seconds): €600\n\nSponsorship Policy:\nTubeNotes only accepts sponsors that align with its target audience. The channel rejects products that do not provide real value to viewers or that the creator does not personally use.\n\nYour email should be warm, professional, and include relevant sponsorship details based on the inquiry.\n\nIMPORTANT: Return your response as a JSON object with the following structure:\n{\n  \"to\": \"recipient email address\",\n  \"subject\": \"email subject line\",\n  \"body\": \"HTML formatted email body\"\n}\n\nThe \"to\" field should be the sender's email address from the original inquiry.\nThe \"subject\" should be a professional reply subject (e.g., \"Re: [Original Subject]\").\nThe \"body\" should be the complete HTML email content.\n```",
              "role": "system"
            },
            {
              "content": "=Draft a sponsorship reply email based on the following context:\n\nSender Name: {{ $('Edit Fields').item.json.sender_name }}\nSender Email: {{ $('Edit Fields').item.json.sender_email }}\nSubject: {{ $('Edit Fields').item.json.subject }}\nBody: {{ $('Edit Fields').item.json.body }}\n\nRemember: Return only the HTML email body."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        80,
        -336
      ],
      "id": "8575d12f-d0f7-458e-841e-c74267a5f379",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "h186umHZYZgjg54D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "message": "={{ $json.message.content.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -336
      ],
      "id": "77deeee3-1577-4254-837c-68f2a57fc38b",
      "name": "Send a message",
      "webhookId": "b8b277b0-d62a-4115-ab7c-2d69b1bd865a",
      "credentials": {
        "gmailOAuth2": {
          "id": "xLkj82mA6AwSOO7g",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "733c33db-b7b8-445a-914e-9dd40537b6b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c9dba367dc093830beff5218902599c6f2475df63892127b46cbd0644ab12b6"
  },
  "id": "Vc75tMIpZsjg9Za9",
  "tags": []
}