Vector Database/Vector Database.json
{
  "name": "Vector Database",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13O97x_AVgc8mnuW7_ll0a4IfLsxp5QpM",
          "mode": "list",
          "cachedResultName": "n8n Testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13O97x_AVgc8mnuW7_ll0a4IfLsxp5QpM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -176
      ],
      "id": "4823d114-2d41-457f-b50c-17a88186fb9e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v5vPLXon2S5cmdrI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -176
      ],
      "id": "cfe4c9b1-3ee7-4169-ae8c-1b686df12323",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v5vPLXon2S5cmdrI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {
          "pineconeNamespace": "tesla_n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        -176
      ],
      "id": "1a252c73-3ff2-473b-9bd4-66a6192411fe",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FjwdmK7IiuFmQ2ax",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        -16
      ],
      "id": "9692556c-46f1-42dd-88a9-eeaa36cf87a8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SLtamhvnKRwheyoZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        176,
        -16
      ],
      "id": "c5ca3383-7066-4e75-aa31-8684ee83afd8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "7d01fa18-8bef-4aa8-9898-8950b6ca5ecb",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3cfd0af-94ce-40e5-9544-545908c5586f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "016318c93109ab72d19c978ab0ef4ff25fae486fd3ea2f2b2212f707ef917fac"
  },
  "id": "6UF2foMUwcVuVLPY",
  "tags": []
}